<% if @volunteer.errors.any? %>
<section id="errors" >
  <h2> <%= pluralize(@volunteer.errors.count, "error") %> prohibited this volunteer from being saved: </h2>
  <ul>
    <% @volunteer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</section>
<% end %>

<h2 class="form-title">Edit volunteer</h2>
<section class="form">
  <%= form_for @volunteer do |f| %>

    <p><%= f.text_field :name, placeholder: 'First name' %></p>
    <p><%= f.text_field :last_name, placeholder: 'Last name' %></p>
    <p><%= f.label :dbs %>
    <%= f.check_box :dbs %></p>
    <p><%= f.text_field :address, placeholder: 'Address' %></p>
    <p><%= f.text_field :post_code, placeholder: 'Postcode' %></p>
    <p><%= f.text_field :mobile_number, placeholder: 'Mobile number' %></p>
    <p><%= f.text_field :email, placeholder: 'Email' %></p>
    <p><%= f.label :shopping %>
    <%= f.check_box :shopping%></p>
    <p><%= f.label :prescription_collection %>
    <%= f.check_box :prescription_collection %></p>
    <p><%= f.label :snow_clearance %>
    <%= f.check_box :snow_clearance %></p>
    <p><%= f.label :grit_spreading %>
    <%= f.check_box :grit_spreading %></p>
    <p><%= f.label :dog_walking %>
    <%= f.check_box :dog_walking %></p>
    <p><%= f.submit %></p>
  <% end %>
</section>