<% if @volunteer.errors.any? %>
<section id="errors" >
  <h2> <%= pluralize(@volunteer.errors.count, "error") %> prohibited this volunteer from being saved: </h2>
  <ul>
    <% @volunteer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</section>
<% end %>

<%= form_for @volunteer do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :dbs %>
  <%= f.check_box :dbs %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :post_code %>
  <%= f.text_field :post_code %>
  <%= f.label :mobile_number %>
  <%= f.text_field :mobile_number %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :shopping %>
  <%= f.check_box :shopping%>
  <%= f.label :prescription_collection %>
  <%= f.check_box :prescription_collection %>
  <%= f.label :snow_clearance %>
  <%= f.check_box :snow_clearance %>
  <%= f.label :grit_spreading %>
  <%= f.check_box :grit_spreading %>
  <%= f.label :dog_walking %>
  <%= f.check_box :dog_walking %>
  <%= f.submit %>
<% end %>
