<h1>Volunteers</h1>

  <%= form_tag(volunteers_path, :method => 'get', id: 'search-form-view') do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Search volunteers' %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>

  <% if @volunteer.any? %>
    <table>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>DBS Checked</th>
        <th>Address</th>
        <th>Postcode</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Shopping</th>
        <th>Prescription collection</th>
        <th>Snow clearance</th>
        <th>Grit spreading</th>
        <th>Dog walking</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    <% @volunteer.each do |volunteer| %>
      <tr>
        <td><%= volunteer.name %></td>
        <td><%= volunteer.last_name %></td>
        <td><%= tick_or_cross volunteer.dbs %></td>
        <td class="address"><%= volunteer.address %></td>
        <td><%= volunteer.post_code %></td>
        <td><%= volunteer.mobile_number %></td>
        <td><%= volunteer.email %></td>

        <td><%= tick_or_cross volunteer.shopping %></td>
        <td><%= tick_or_cross volunteer.prescription_collection %></td>
        <td><%= tick_or_cross volunteer.snow_clearance %> </td>
        <td><%= tick_or_cross volunteer.grit_spreading %></td>
        <td><%= tick_or_cross volunteer.dog_walking %></td>

        <td class="icon"><%= link_to image_tag('Edit.png'), edit_volunteer_path(volunteer) %></td>
        <td class="icon"><%= link_to image_tag('Delete.png'), volunteer_path(volunteer), method: :delete %></td>
      </tr>
    <% end %>
    </table>
  <% end %>




