<h1> Show Page of the  Snow Angels <h1>
<h2><%= @volunteer.name %> </h2>
<h2><%= @volunteer.address %> </h2>
<h2><%= @volunteer.mobile_number %> </h2>

<%= link_to 'Edit1', edit_volunteer_path(@volunteer) %>
<%= link_to 'Delete', volunteer_path(@volunteer), method: :delete %>
