<h1>Task Summary</h1>

<section>
  <p>Client name: <%= @task.client.name %> <%= @task.client.last_name %></p>
  <p>Client phone number: <%= @task.client.phone %></p>
  <p>Task type: <%= @task.task_type %></p>
  <p>Description: <%= @task.description %></p>

  <input type="hidden" id="lat" value=<%= @task.geocoder_lat(@task.client.postcode) %>>
  <input type="hidden" id="long" value=<%= @task.geocoder_long(@task.client.postcode) %>>
  <input type="hidden" id="v-lat" value=<%= @task.geocoder_lat(@match_one.post_code) %>>
  <input type="hidden" id="v-long" value=<%= @task.geocoder_long(@match_one.post_code) %>>
  <input type="hidden" id="v-lat-2" value=<%= @task.geocoder_lat(@match_two.post_code) %>>
  <input type="hidden" id="v-long-2" value=<%= @task.geocoder_long(@match_two.post_code) %>>

</section>

<div id="multi_markers" style='width: 800px; height: 400px;'></div>

<script>
var client_lat = document.getElementById('lat').value;
var client_long = document.getElementById('long').value;
var v_lat = document.getElementById('v-lat').value;
var v_long = document.getElementById('v-long').value;
var v_lat_2 = document.getElementById('v-lat-2').value;
var v_long_2 = document.getElementById('v-long-2').value;

var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
var markers = handler.addMarkers([
{ lat: client_lat, lng: client_long, picture: {
          "url": "http://maps.google.com/mapfiles/kml/pal4/icon43.png",
          "width":  36,
          "height": 36
        }, infowindow: "hello!" },
{ lat: v_lat, lng: v_long},
{ lat: v_lat_2, lng: v_long_2}
]);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});
</script>


