
  <h1>Task Summary</h1>
  </br>
  <div>
    <p>Client Name: <%= @task.client.name %> <%= @task.client.last_name %></p>
    <p>Description: <%= @task.description %></p>
    <p>Task Type: <%= @task.task_type%></p>
    <% if @task.volunteer_id %>
        <%= @task.volunteer.name %>
    <% end %>
  </div>
  </br>
  <h1>Map Summary</h1>
  <div style='width: 800px;'>
    <div id="directions" style='width: 800px; height: 400px;'></div>
  </div>

  <script>
  var directionsDisplay = new google.maps.DirectionsRenderer();
  var directionsService = new google.maps.DirectionsService();

  function calcRoute() {
    var origin      = new google.maps.LatLng(51.911216901965545, -0.510850608348853);
    var destination = new google.maps.LatLng(51.889270948465416, -0.53606146574022);
    var request = {
        origin:      origin,
        destination: destination,
        travelMode:  google.maps.TravelMode.DRIVING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
    });
  }

  calcRoute();

  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'directions'}}, function(){
    directionsDisplay.setMap(handler.getMap());
  });
  </script>
