<li class='task-box completed'>
  <span class='client-request'>
    <strong><%= task.volunteer %></strong> has completed a task for <strong><%= task.client.name %> <%= task.client.last_name %></strong> 
  </span>
  <strong><%= task.task_type %></strong>
  <em><%= task.description %></em>
  <%= link_to "View this task", task_path(task), class: 'match-btn' %>
  <%= render 'partials/status_bar', task: task %>
</li>   