<nav class='menu_bar'>
  <ul class='navbar'>
    <li class='nav-link'><%= link_to "Add client", new_client_path %></li>
    <li class='nav-link'><%= link_to "View client", clients_path %></li>
    <li class='nav-link'><%= link_to "Add volunteer", new_volunteer_path %></li>
    <li class='nav-link'><%= link_to "View volunteer", volunteers_path %></li>
    <li class='nav-link'><%= link_to "View texts", texts_path %></li>
    <li class='nav-link'><%= link_to "Settings", settings_path %></li>
  </ul>
</nav>