<section>
  <ul class='status-bar'>
    <%= status_progress(task.volunteer_id, 'VOLUNTEER ASSIGNED') %>
    <%= link_to client_called_path(task), method: :put do %>
      <%= status_progress(task.called_client, 'CLIENT CALLED') %>
    <% end %>
    <%= link_to task_completed_path(task), method: :put do %> 
      <%= status_progress(task.task_done, 'TASK COMPLETED') %>
    <% end %>
  </ul>
</section>