<section class="form">
  <%= form_for @client do |f| %>
    <p><%= f.label :name %>
    <%= f.text_field :name %></p>
    <p><%= f.label :last_name %>
    <%= f.text_field :last_name %></p>
    <p><%= f.label :address %>
    <%= f.text_field :address %></p>
    <p><%= f.label :postcode %>
    <%= f.text_field :postcode %></p>
    <p><%= f.label :phone %>
    <%= f.text_field :phone %></p>
    <%= f.submit %>
  <% end %>
</section>