<h1>Clients</h1>

<%= form_tag(clients_path, :method => 'get', id: 'search-form') do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search clients' %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<% if @clients.any? %>
  <ul>
      <% @clients.each do |client| %>
      <li>
        <%= client.last_name %>
        <%= client.name %>
        <%= client.address %>
        <%= client.postcode %>
        <%= client.phone %>
        <%= link_to image_tag('Edit.png'), edit_client_path(client) %>
        <%= link_to image_tag('Delete.png'), client_path(client), method: :delete %>
        <%= link_to 'Add a task', new_task_path(client) %>
      </li>
      <% end %>
  </ul>

<% end %>