<% if @client.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved: </h2>
    <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= render "form" %>

<%= form_tag(clients_path, :method => 'get', id: 'search-form') do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search clients' %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>


