<% if admin_signed_in? %>

  <%= link_to "SMS to all Volunteers", snow_path, class: 'snow_day_button' %>

    <h4>Tasks To Be Assigned</h4>
      <section class='client-box'>
        <table>
          <tr>
            <th>name </th>
            <th>Last name </th>
            <th> Task category </th>
            <th>Task Description </th>
            <th>Address </th>
            <th>Post code</th>
            <th> Phone number </th>
            <th> sadf </th>
            <th> 1</th>
            <th> 2</th>
            <th> 3</th>
            <th> 4</th>
            <th> 5</th>

          </tr>

        <% @tasks_to_be_assigned.each do |task| %>
          <tr>
            <%= form_for task do |f| %>
              <td><%= link_to task.client.name, task_path(task) %></td>
              <td><%= task.client.last_name %></td>
              <td><%= task.task_type %></td>
              <td><%= task.description %></td>
              <td><%= task.client.phone %></td>
              <td><%= task.client.address %></td>
              <td><%= task.client.postcode %></td>
              <td><%= link_to "Match", match_path(task) %></td>
              
              <td><%= f.label :called_client %></td>
              <td><%= f.check_box :called_client %></td>
              <td><%= f.label :task_done %></td>
              <td><%= f.check_box :task_done %></td>
              <td><%= f.submit "Update"%></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </section>

  </br>
    <h4>Assigned Tasks</h4>
      <section class='client-box'>
        <table>
          <tr>
            <th>name </th>
            <th>Last name </th>
            <th> Task category </th>
            <th>Task Description </th>
            <th>Address </th>
            <th>Post code</th>
            <th> Phone number </th>
            <th> sadf </th>
            <th> 1</th>
            <th> 2</th>
            <th> 3</th>
            <th> 4</th>
            <th> 5</th>
          </tr>

        <% @tasks_to_be_assigned.each do |task| %>
          <tr>
            <%= form_for task do |f| %>
              <td><%= link_to task.client.name, task_path(task) %></td>
              <td><%= task.client.last_name %></td>
              <td><%= task.task_type %></td>
              <td><%= task.description %></td>
              <td><%= task.client.phone %></td>
              <td><%= task.client.address %></td>
              <td><%= task.client.postcode %></td>
              <td><%= link_to "Match", match_path(task) %></td>
              
              <td><%= f.label :called_client %></td>
              <td><%= f.check_box :called_client %></td>
              <td><%= f.label :task_done %></td>
              <td><%= f.check_box :task_done %></td>
              <td><%= f.submit "Update"%></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </section>


  </br>
    <h4>Complete Tasks</h4>
      <section class='client-box'>
        <table>
          <tr>
            <th>name </th>
            <th>Last name </th>
            <th> Task category </th>
            <th>Task Description </th>
            <th>Address </th>
            <th>Post code</th>
            <th> Phone number </th>
            <th> sadf </th>
            <th> 1</th>
          </tr>

        <% @tasks_to_be_assigned.each do |task| %>
          <tr>
            <%= form_for task do |f| %>
              <td><%= link_to task.client.name, task_path(task) %></td>
              <td><%= task.client.last_name %></td>
              <td><%= task.task_type %></td>
              <td><%= task.description %></td>
              <td><%= task.client.phone %></td>
              <td><%= task.client.address %></td>
              <td><%= task.client.postcode %></td>
              
              <td><%= f.label :task_done %></td>
              <td><%= f.check_box :task_done %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </section>
  </br>

<% else %>
  <%= render 'partials/splash' %>
<% end %>
