<% if admin_signed_in? %>

  <%= link_to "SMS to all Volunteers", snow_path, class: 'snow_day_button' %>

  <section class='left-container'>
    <h4> Tasks </h4>
    <ul>
      <% if @tasks %>
      <% @tasks.each do |task| %>
        <% unless task.task_done %>
          <li class='client-box'>
            <%= task.client.name %> | <%= task.client.last_name %> | <%= task.task_type %> | <%= link_to task.description, task_path(task) %> | <%= task.client.phone %> | <%= task.client.address %> | <%= task.client.postcode %> <%= link_to "Match", match_task_path(task, task.client_id) %>

            <% if task.volunteer_id %>
              <%= task.volunteer.name %>
              <% if task.volunteer.texts.any? %>
                <%= form_tag volunteer_text_path(task.volunteer) do %>
                  <%= text_field_tag :custom_body %>
                  <%= submit_tag "Send SMS" %>
                <% end %>
              <% end %>

                <%= form_for task do |f| %>
                  <%= f.label :volunteer_text_confirmed %>
                  <%= f.check_box :volunteer_text_confirmed %>
                  <%= f.label :called_client %>
                  <%= f.check_box :called_client %>
                  <%= f.label :task_done %>
                  <%= f.check_box :task_done %>
                  <%= f.submit "Complete"%>
                <% end %>

            <% end %>
          </li>
          <% else %>
            <li class='client-box-complete'>
            <%= task.client.name %> | <%= task.client.last_name %> | <%= task.task_type %> | <%= task.description %>
            <% if task.volunteer_id %>
                <%= task.volunteer.name %>
            <% end %>
            </li>
          <% end %>
        <% end %>
    </ul>
  </section>
  <% end %>

<% else %>

<section class='left-container'>
  <h1>  Welcome to Horsell Snow Angels.... </h1>
  </br>
  <h3> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h3>

</br>

<%= link_to "Register as a volunteer", new_volunteer_path, class: 'volunteer-self-register' %>
</section>

<section class='right-container'>
  <img src='http://dstele.com/wordpress/wp-content/uploads/2014/05/old_people_group.png'>
</section>

<% end %>
