<section class='task'>
  <p><label><strong>Name: </strong></label>
  <%= @task.client.name %> <%= @task.client.last_name %></p>

  <p><label><strong>Task Type: </strong></label>
  <%= @task.task_type %>

  <p><label><strong>Task Description: </strong></label> 
  <%= @task.description %></p>

</section>

<section class='volunteers'>

  <ul>
  <% @volunteers.each do |vol| %>
    <li class='volunteer-box'>

      <section class='volunteer-box-left'>
        <p><label><strong>Name:   </strong></label>
        <%= vol.name %><%= vol.last_name %></p>

        <p><label><strong>Address: </strong></label>
        <%= vol.address %></p>

        <p><label><strong>Post code: </strong></label>
        <%= vol.post_code %></p>
        <p><label><strong>Mobile Number: </strong></label>
        <%= vol.mobile_number %></p>
        <p><label><strong>DBS Check: </strong></label>
        <% if vol.dbs %>Yes <% else %>No<% end %></p>
      </section>

      <section class='volunteer-box-right'>
        <%= form_tag volunteer_text_path(vol) do %>
           <%= text_field_tag :custom_body %>
          <p><%= submit_tag "Send text" %></p>
        <% end %>

        <h4>Texts received:</h4>
        <ul>
          <% Volunteer.todays_texts(vol.id).reverse.each do |text| %> 
            <li><%= text.body %></li>
          <% end %>
        </ul>
        <p> <%= button_to "Volunteer choosen", match_one_volunteer_path(@task, vol) %>


      </section>

    </li>
  <% end %>
  </ul>

</section>
