<ul>
  <% @sms.each do |sms| %>
    <li><%= sms.volunteer.name %> | <%= sms.body %> | <%= sms.number %> | <%= link_to "Available", available_volunteer_path(sms.volunteer) %> <%= link_to "Not Available", unavailable_volunteer_path(sms.volunteer) %></li>
  <% end %>
</ul>
