<ul>

    <% @pending.each do |vol| %>
      <% vol.texts.each do |text| %>
        <p>
          <%= text.volunteer.name %> | <%= text.number %> | <%= text.body %>
        <%= link_to "Available", available_volunteer_path(text.volunteer) %> 
        <%= link_to "Not Available", unavailable_volunteer_path(text.volunteer) %>
        </p>
      <% end %>
    <% end %>

</ul>

  <h4> Available </h4>
  <% @available.each do |vol| %>
    <% vol.texts.each do |text| %>
      <p><%= text.volunteer.name %> | <%= text.number %> | <%= text.body %></p>
    <% end %>
  <% end %>

  <h4> Unavailable </h4>
  <% @unavailable.each do |vol| %>
    <% vol.texts.each do |text| %>
      <p><%= text.volunteer.name %> | <%= text.number %> | <%= text.body %></p>
    <% end %>
  <% end %>


