
  <h4> Pending </h4>
  <% @today_texts.each do |text| %>
    <% if text.volunteer.availability.nil? %>
      <p>
        <%= text.volunteer.name %> <%= text.volunteer.last_name %> |<%= text.number %> | <%= text.body %>
        <%= link_to "Available", available_volunteer_path(text.volunteer) %> 
        <%= link_to "Not Available", unavailable_volunteer_path(text.volunteer) %>
      </p>
    <% end %>
  <% end %>

  <h4> Available </h4>
  <% @available.each do |vol| %>
    <% vol.texts.each do |text| %>
      <p><%= text.volunteer.name %> <%= text.volunteer.last_name %> | <%= text.number %> | <%= text.body %></p>
      <%= link_to "Not Available", unavailable_volunteer_path(text.volunteer) %>
    <% end %>
  <% end %>

  <h4> Unavailable </h4>
  <% @unavailable.each do |vol| %>
    <% vol.texts.each do |text| %>
      <p><%= text.volunteer.name %> <%= text.volunteer.last_name %> | <%= text.number %> | <%= text.body %></p>
      <%= link_to "Available", available_volunteer_path(text.volunteer) %> 
    <% end %>
  <% end %>

  <h4> Archive </h4>
  <% @old_texts.each do |text| %>
    <% if text.volunteer.nil? %>
      <p><%= text.number %> | <%= text.body %></p> 
    <% else %>
      <p><%= text.volunteer.name %> <%= text.volunteer.last_name %> | <%= text.number %> | <%= text.body %></p>
    <% end %>
  <% end %>

<script type="text/javascript">
  setInterval("refresh_page();",3000); 
  
    function refresh_page(){
        window.location = location.href;
    }
</script>

