<section class='col' id='pending'>
  <ul class='texts'>
    <%= @todays_texts.each do |text| %>
      <% if text.volunteer.availability.nil? %>
        <li><%= text.inspect %></li>
      <% end %>
    <% end %>
  </ul>
</section>

<section class='col' id='available'>
  <ul class='texts'>
    <% @volunteers.each do |volunteer| %>
      <% if volunteer.availability == true %>
        <% volunteer.texts.each do |text| %>
          <%= text.body %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</section>

<section class='col' id='unavailable'>
  <ul class='texts'>
    <% @volunteers.each do |volunteer| %>
      <% if volunteer.availability == false %>
        <% volunteer.texts.each do |text| %>
          <%= text.body %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</section>

<section class='col' id='archive'>
  <ul class='texts'>
    <%= @old_texts.each do |text| %>
      <li><%= text.inspect %></li>
    <% end %>
  </ul>
</section>


<script type="text/javascript">
  setInterval("refresh_page();",7000);

    function refresh_page(){
        window.location = location.href;
    }
</script>
