<!DOCTYPE html>
<html>
<head>
  <title>SnowAngels</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>

  <header>
    <span id='logo'> <%= link_to "Horsell Snow Angels", pages_path %> </span>
    <% if !admin_signed_in? %> 
      <%= link_to "Sign in", new_admin_session_path, class: 'login_logout_btn' %>
    <% else %> 
      <%= link_to "Sign out", destroy_admin_session_path, method: :delete, class: "login_logout_btn" %>
     <% end %>
  </header>

  <% if admin_signed_in? %>

    <section class='menu_bar'>
      <%= link_to "Add client", new_client_path %>
      <%= link_to "View client", clients_path %>
      <%= link_to "Add volunteer", new_volunteer_path %>
      <%= link_to "View volunteer", volunteers_path %>
      <%= link_to "Edit admin", edit_admin_registration_path %>
      <%= link_to "View texts", texts_path %>
      <%= link_to "Settings", settings_path %>
    </section>

  <% end %>

  <section class='container'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </section>

</body>
</html>
