<!DOCTYPE html>
<html>
<head>
  <title>SnowAngels</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>


</head>
<body>

  <header>
    <span id='logo'><%= link_to "Horsell Snow Angels", pages_path %> </span>
    <% if !admin_signed_in? %>
      <%= link_to "Sign in", new_admin_session_path, class: 'login_logout_btn' %>
    <% else %>
      <%= link_to "Sign out", destroy_admin_session_path, method: :delete, class: "login_logout_btn" %>
     <% end %>
  </header>

  <% if admin_signed_in? %>

    <%= render 'partials/nav' %>

  <% end %>

  <section class='page-wrap container'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </section>

  <%= render 'layouts/footer' %>

</body>
</html>
