<!DOCTYPE html>
<html>
<head>
  <title>SnowAngels</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if admin_signed_in? %>
    <%= link_to "Home", pages_path %>
    <%= link_to "Sign out", destroy_admin_session_path, method: :delete %>
    <%= link_to "Sign up", new_admin_registration_path %>
    <%= link_to "Add client", new_client_path %>
    <%= link_to "View client", clients_path %>
    <%= link_to "Add volunteer", new_volunteer_path %>
    <%= link_to "View volunteer", volunteers_path %>
    <%= link_to "Edit admin", edit_admin_registration_path %>
    <%= link_to "View texts", texts_path %>

  <% else %>
    <%= link_to "Sign in", new_admin_session_path %>
    <%= link_to "Register", new_volunteer_path %>

  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

</body>
</html>
